* {
    box-sizing: border-box;
    
}


html {
    background: url(https://t3.ftcdn.net/jpg/03/49/67/76/360_F_349677668_dCQUwNDDHZagmThrdDOJ3UymDBZ9Jx0m.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: grid;
    justify-content: center;
    color: crimson;
    font-size: 50px;
    flex-wrap: wrap; 
    border: 2px solid rgb(97, 223, 35);
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
       

    

   
}

.bottom {
    margin: 5px;
    height: 75px;
    width: 75px;
    border: 2px solid rgb(97, 223, 35);
    background-color: blue;
    color: white;
    font-size: 25px;;
    border-radius: 30%;
   
}

#deal {
    background-color: blue;
    height: 60px;
    width: 60px;
    margin: 10px;
    color: white;
    border: 3px solid rgb(97, 223, 35);
    border-radius: 30%;
}

#place-bet {
    border-radius: 20%;
    border: 3px solid rgb(97, 223, 35);
    height: 60px;
    width: 100px;
    background-color: blue;
    color: white;
}

#chips1 {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    background-color: yellow;
    color: black;
    border: 6px dashed black;
    font-style: oblique;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
    margin: 10px;
}
#chips2 {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    background-color: red;
    color: black;
    border: 6px dashed black;
    font-style: oblique;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
    margin: 10px;
}

.class {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

button {
    display: grid;
    grid-area: unset;
    align-content: center;
}







